<script src="/javascripts/jquery_countdowntimer.js" type="text/javascript"></script>
<script type="text/javascript"> 
$(function () {
	$('#defaultCountdown').countdown({
      until: +<%= (@price.product.available_off - Time.now).to_i %>,
      format: 'MS',
      layout: '{mn}:{sn}'
    });
});
</script> 
COST: <%= @price.id %>
TIME: <%= (@price.product.available_off - Time.now).to_i %>
<div id="defaultCountdown"></div> 
